* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    color: #66bfbf;
}

.contact ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.contact-icons {
    color: #003a7c;
}

.container {
    margin: auto 10%;
}

.details {
    padding: 30px;
}

.intro {
    margin: 50px;
}

.name {
    margin: 150px auto 200px;
}

.name h1,
.name h2 {
    color: #004faa;
}

.navbar {
    align-items: center;
    display: flex;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.navbar ul li a:link,
.navbar ul li a:visited {
    text-decoration: none;
    color: #004faa;
}

.profile-pic {
    border-radius: 50%;
    height: 80px;
    margin-top: 20px;
    opacity: 0.7;
}

.skill-card {
    align-items: center;
    background: #ebf7ff;
    border-radius: 40px;
    box-shadow: 20px 20px 60px #c8d2d9, -20px -20px 60px #f5fbff;
    display: flex;
    justify-content: center;
    margin: 0 auto 80px;
    padding: 30px 50px;
}

.skill-card img {
    margin: 30px;
}

.skill-card:nth-of-type(2n) img {
    order: 2;
}

.skills img {
    border-radius: 25%;
    height: 100px;
}

body {
    background-color: #ebf7ff;
    color: rgb(44, 44, 44);
    font-family: "Ubuntu", sans-serif;
    margin: 2% 10%;
    text-align: center;
}

h1 {
    font-family: "Sacramento", sans-serif;
    font-size: 5.625rem;
    margin-top: 50px;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    padding-bottom: 30px;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header:before {
    background-image: url("../images/profile-background.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
